/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

body.page-boxed {
  background-color: #fff;
}

.page-header.navbar .page-logo {
  background: #DF7927;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.page-footer{
	background: #DF7927;
	height: 40px;
}

.page-footer-copyright{
	color: #fff !important;
	text-align: center;
	padding-top: 5px;
}

.sweet-form .form-group{
	margin-bottom: 10px;
}

.sweet-form p, .sweet-form label, .sweet-form select{
	color: #888;
}

.sweet-form label {
	text-align: left !important;
	font-weight: bold;
}

.filter-search{
	margin-top: 28px;
}

.popover-content{
	padding: 14px 25px;
	width: 340px;
}

#filterCaller .mix{
	display: none;
}

.mix .panel{
	height: 200px;
}

.marquee{
	width: 100%; 
	overflow: hidden; 
	padding-top: 10px;
	color: #666;
}

.marquee a{
	color: #666;
}

.marquee a:hover{
	text-decoration: none;
	color: #F2784B;
}





